* {
  box-sizing: border-box;
}

.board {
  border-style: solid;
  display: flex;
  flex-direction: column;
  width: 800px;
}

.row {
  display: flex;
}
.row2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.oddCell {
  background-color: #F6DDCC;
  width: 100px;
  height: 100px;
}

.evenCell {
  background-color: #DC7633;
  width: 100px;
  height: 100px;
}
