* {
  box-sizing: border-box;
}

body {
  display: flex;
}

.board {
  border-style: solid;
  display: flex;
  flex-direction: column;
  width: 800px;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.checkers {
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  position: relative;
  width: 75px;
  height: 75px;
  z-index: 1;
}

.crown{
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
  display: none;
}

section {
  background-color: #F6DDCC;
  border-style: solid;
  height: 500px;
  margin-left: 5px;
  width: 500px;
}

h1 {
  text-align: center;
}

.player {
  background-color: red;
  width: 200px;
}
